.result-table {
    font-size: 11pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;

}

.result-table thead th {
    text-align: center;
}

.result-table td, th {
    padding: 5px;
}

.result-table tr:nth-child(even) {
    background: #E0E0E0;
}

.result-table tr:hover {
    background: silver;
    cursor: pointer;
}

.result-table a {
    color: green;
    text-decoration: none;
}

.result-table a:hover {
    text-decoration: underline;
}

.result-table a:visited {
    color: black;
}